# _ide
_ide/*
!_ide/version.ini

.rigel_lopper

# platform
platform/export/
platform/hw/sdt
platform/resources
platform/logs

# application
lwip_echo_server/build
lwip_echo_server/_ide
lwip_echo_server/src/compile_commands.json

*.pdf